html, body {
 height: 100%;
}

.nonfooter-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -64px;
}


.nonfooter-wrapper:after {
  content: "";
  display: block;
}

.MIDDLE {
  min-height: 100%;
  height: 100%;
}

.MAIN {
  min-height: 100%;
  height: 100%;
  background-color: $light-background-color;
  @include span-columns(9, block-collapse);
}