html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: $footer-height;
}

.MIDDLE {
  @include clearfix
}

.MAIN {
  @include span-columns(9, block-collapse);
  background-color: $light-background-color;
  padding: 0 12px;
}