<header class="BANNER">
    <div class="breadcrumbs"></div>
    <div class="logo"></div>
    <ul class="bannernav">
        <li><%= link_to "Post a Bounty", bountyboard_path, class: "BountyTab" %></li>
        <li><%= link_to "Ask a Question", contactus_path, class: "QuestionTab" %></li>
    </ul>
</header>