<div class="TOP-BAR">
    <div class="top-help">Help
        <span class="top-help__arrow"></span>
    </div>
    <div class="top-search">
        <form id="search" method="get" action="/search" autocomplete="off">
            <input type="text" placeholder="Search Nubdu" value="" tabindex="1" autocomplete="off" maxlength="240">
        </form>
    </div>
        <% if user_signed_in? %>
            <div class="user-details">
                <img src="https://placehold.it/24x24" class="user-avatar">
                <span><%= @user.rep %></span>
                <img src="https://placehold.it/24x24" class="notification-icon">
            </div>
        <% else %>
            <div class="user-invite">
                <%= link_to('Login', new_user_session_path)  %>
                ||
                <%= link_to('Register', new_user_registration_path)  %>
            </div>
        <% end %>
</div>